<header>
    <h1>{{pageTitle}}</h1>
    <div style="display: flex;">
        <p>
            <a style="margin-right: 1rem;" href="/">Home</a>
        </p>
        <p>
            <a style="margin-right: 1rem;" href="/about">About</a>
        </p>
    </div>

</header>